body {
  margin: 0; /* Remove default margin */
  font-family: "Montserrat", sans-serif;
  padding-left: 280px;
}

/* Sidebar Styles */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  overflow-y: auto;
  background-color: #040b14;
  color: white;
  z-index: 1000;
  transition: transform 0.3s ease; /* Añade transición para animación */
}

.sidebar li:hover {
  background-color: #0d6efd;
  border-radius: var(--bs-border-radius);
}

.navbar-toggler {
  position: fixed; /* Coloca el botón de manera absoluta */
  top: 20px; /* Ajusta la posición vertical */
  right: 20px; /* Ajusta la posición horizontal */
  z-index: 1050; /* Asegúrate de que esté por encima del sidebar */
  color: #0d6efd;
}

.sidebar.hidden {
  transform: translateX(-100%); /* Mueve el sidebar fuera de la vista */
}

.img-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.img-hover:hover {
  transform: scale(1.1); /* Scale image up */
  box-shadow: 0 4px 20px rgba(131, 115, 115, 0.5); /* Add shadow */
}

.social-links a {
  margin: 0 10px; /* Add some space between icons */
  color: white; /* Icon color */
  font-size: 20px; /* Icon size */
}

.social-links a:hover {
  color: #0d6efd; /* Change color on hover */
}

#sections {
  min-height: 400px;
}

@media (max-width: 992px) {
  body {
    padding: 0;
  }

  .sidebar {
    transform: translateX(-100%); /* Esconde el sidebar por defecto */
  }

  .sidebar.active {
    transform: translateX(0); /* Muestra el sidebar cuando está activo */
  }
}

/* Cover Styles */

.cover {
  position: relative;
}

.cover h1 {
  font-size: 64px;
}

.cover span {
  font-size: 32px;
}

#cover-div {
  background-color: #222222;
}

.subtitle {
  overflow: hidden;
}

.subtitle .text {
  position: relative;
  color: #0d6efd;
  font-weight: 600;
  background-color: #222222;
}

.subtitle .text.first-text {
  color: white;
}

.text.second-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #222222;
  border-left: 2px solid white;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

/* About Me Styles */

.about-me {
  min-height: 100vh;
}

.about-me ul {
  min-height: 200px;
}

@media (max-width: 992px) {
  #about-me-list-two {
    margin-top: 0px !important;
  }
}

/* Skills Styles */

#skills {
  min-height: 100vh;
}
.skills {
  color: white;
}

.skills-container {
  min-height: 650px;
}

@media (max-width: 992px) {
  #skills-container {
    display: block;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: flex-start !important; /* Distribuye los elementos uniformemente */
  }

  .skills-container .row {
    margin-left: 0; /* Asegura que no haya márgenes no deseados */
    margin-right: 0;
  }

  .skills-container .row > div {
    flex: 0 0 48%; /* Ajusta para que dos columnas ocupen el 48% del ancho con espacio entre ellas */
    margin-bottom: 15px; /* Añade un margen inferior para dar separación */
    text-align: center; /* Centra las imágenes */
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Projects */

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

/* Hover effect for cards */
.custom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Define the animation keyframes */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Initially set the elements to be invisible and slightly below the viewport */
.scroll-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

/* When the element becomes visible, apply the fadeInUp animation */
.scroll-animate.visible {
  animation: fadeInUp 1s forwards;
}

/* Hover effects on cards */
.custom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


/* Resume */

.resume .container {
  width: 100%;
  height: 90%;
}

.resume .iframe {
  height: 100%;
  width: 100%;
}

/* Contact */

#contact {
  background-image: url(images/cover-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.contact .container {
  width: 66%;
}

.contact .form-control {
  border: solid 2px black;
}

.contact button {
  margin: 0 auto;
}

.contact iframe {
  border: 1px solid black;
  border-radius: 5px;
}
