body {
  margin: 0; /* Remove default margin */
  font-family: "Montserrat", sans-serif;
  padding-left: 280px;
}

/* Sidebar Styles */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  overflow-y: auto;
  background-color: #040b14;
  color: white;
  z-index: 1000;
  transition: transform 0.3s ease; /* Añade transición para animación */
}

.sidebar li:hover {
  background-color: #0d6efd;
  border-radius: var(--bs-border-radius);
}

.navbar-toggler {
  position: fixed; /* Coloca el botón de manera absoluta */
  top: 20px; /* Ajusta la posición vertical */
  right: 20px; /* Ajusta la posición horizontal */
  z-index: 1050; /* Asegúrate de que esté por encima del sidebar */
  color: #0d6efd;
}

.sidebar.hidden {
  transform: translateX(-100%); /* Mueve el sidebar fuera de la vista */
}

.img-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.img-hover:hover {
  transform: scale(1.1); /* Scale image up */
  box-shadow: 0 4px 20px rgba(131, 115, 115, 0.5); /* Add shadow */
}

.social-links a {
  margin: 0 10px; /* Add some space between icons */
  color: white; /* Icon color */
  font-size: 20px; /* Icon size */
}

.social-links a:hover {
  color: #0d6efd; /* Change color on hover */
}

#sections {
  min-height: 400px;
}

@media (max-width: 992px) {
  body {
    padding: 0;
  }

  .sidebar {
    transform: translateX(-100%); /* Esconde el sidebar por defecto */
  }

  .sidebar.active {
    transform: translateX(0); /* Muestra el sidebar cuando está activo */
  }
}

/* Cover Styles */

.cover {
  position: relative;
}

.cover h1 {
  font-size: 64px;
}

.cover p {
  font-size: 32px;
}

#cover-div {
  background-image: url(images/Cover.jpg);
  background-size: cover; /* O 'contain' según lo que necesites */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el elemento */
}

/* About Me Styles */

.about-me {
  min-height: 100vh;
}

.about-me ul {
  min-height: 200px;
}

/* Skills Styles */

#skills {
  min-height: 100vh;
}
.skills {
  color: white;
}

.skills-container {
  min-height: 650px;
}

@media (max-width: 992px) {
  #skills-container {
    display: block;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: flex-start !important; /* Distribuye los elementos uniformemente */
  }

  .skills-container .row {
    margin-left: 0; /* Asegura que no haya márgenes no deseados */
    margin-right: 0;
  }

  .skills-container .row > div {
    flex: 0 0 48%; /* Ajusta para que dos columnas ocupen el 48% del ancho con espacio entre ellas */
    margin-bottom: 15px; /* Añade un margen inferior para dar separación */
    text-align: center; /* Centra las imágenes */
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Projects */
/* Elimina el valor de altura fija en las imágenes */
.carousel-item img {
  width: 100%;
  height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
  max-height: 80vh; /* Limita la altura máxima de las imágenes al 80% del viewport */
  object-fit: cover; /* Mantiene la proporción y rellena el espacio disponible */
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

.carousel {
  width: 100%; /* Ajusta el carrusel al 100% del contenedor */
  max-width: 1200px; /* Limita el tamaño máximo del carrusel */
}

/* Resume */

.resume .container {
  width: 100%;
  height: 90%;
}

.resume .iframe {
  height: 100%;
  width: 100%;
}

/* Contact */

#contact {
  background-image: url(images/cover-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.contact .container {
  width: 66%;
}

.contact .form-control {
  border: solid 2px black;
}

.contact button {
  margin: 0 auto;
}

.contact iframe {
  border: 1px solid black;
  border-radius: 5px;
}
